<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GottaDo</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="website icon" href="{{url_for('static', filename='img/gottaDoIcon.png')}}">
</head>

<body>
    <div class="container">
        <nav>
            <div class="nav-brand">
                <h1>GottaDo</h1>
                <svg id="hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="30">
                    <path fill="#ffffff"
                        d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                </svg>
            </div>
            <ul id="nav-links">
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="/create_task">Create</a></li>
            </ul>
        </nav>
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>